body{
    margin: 0;
    font-family: 'Open sans', sans-serif;
    background-color: white;
  }

  #logo{
    font-size: 1.2em;
    font-weight: bold;
    padding: 25px 0 25px;
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    
  }

  #logo img {
    width: 150px;
    height: auto;
    position: relative;
    left: 10px;
    top: -2px
  }

main{
    text-align: center;
    margin: 0 auto;
    max-width: 450px;
}

form{
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
}

input{
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    border: 2px solid rgb(201, 201, 201);
    border-radius: 20px;
    margin-top: 5px;
  }

  .name, .surname, .username, .email, .password, .confirm_password, .fileupload{
    width: 100%;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.allow{
    display: flex;
    width: 100%;
    text-align: left;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
}

.allow input{
    width: 20px;
    height: 20px;
}

.allow label{
    margin-top: 4px;
    margin-left: 10px;
}

form img{
    opacity: 0;
    width: 10px;
    margin-right: 10px;
}

form span {
    opacity: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: 0.25px;
    transition: opacity 0.3s ease;
}

.error {
    font-family: 'Open sans', sans-serif;
    color: red;
    font-size: 1.4em;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 10px;
}

.errorj label {
    color: #d01b2d;
}

.errorj span {
    opacity: 1;
    font-size: 14px;
    color: #d01b2d;
}

.errorj img {
    opacity: 1;
}

.errorj input, .errorj #upload {
    border-color: #d01b2d;
}

.submit input{
    margin-top: 30px;
    border-radius: 50px;
    padding: 16px 14px 18px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 2px;
    color: #fff;
    background-color: blue;
    transition-property: background-color;
    transition-duration: .3s;
}

.submit input:hover{
    cursor: pointer;
    background-color: rgb(255, 0, 0);
}

.signup{
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.hidden {
    display: none;
}